h3 Instructions
ul.list-group
  li.list-group-item
    | name repo acme-cart
  li.list-group-item
    | deploy to heroku 
  li.list-group-item
    | Files
    pre
      | - server.js
      | db
      | - conn.js
      | - index.js
      | - Product.js
      | - Order.js
      | - LineItem.js
  li.list-group-item
    | Models 
    pre
      | Product
      |   - name STRING
      | LineItem
      |    - quantity INTEGER
      | Order
      |   - isCart BOOLEAN
      |   - address STRING
